.MenuMobile{
    display: flex;
    right: 0;
    width: 18rem;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 100;

}
.MenuMobileContainer{
    width: 100%;
    height: 100%;
}
.show{
    right: 0;
    transition: right 1s;

}
.hiding{
    right: -18rem;
    transition: right 1s;
}
.icons{
    font-size: 2.3rem;
}
.iconClose{
    position: absolute;
    right: 2.9rem;
    top: 3.5rem;
    cursor: pointer;
    z-index: 100;
}

.user{
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.8rem;
}
.imgUser{
    display: flex;
    justify-content: center;
    width: 100%;
}
.imgUser svg{
    width: 65px;
    height:  65px;
    border-radius: 15px;
    color: black;
}
.menuMobileItens{
    display: flex;
    width: 100%;
    height: 100%;
}
